<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright (c) SAP AG.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors: 
   Reiner Hille-Doering (SAP AG) - initial API and implementation and/or initial documentation
 </copyright>

  $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/BPMN/2.0"
            class="org.eclipse.bpmn2.ecore.BPMN20.BPMN20Package"
            genModel="model/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="bpmn20"
            class="org.eclipse.bpmn2.ecore.BPMN20.util.BPMN20ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/spec/BPMNDI/1.0.0"
            class="org.eclipse.bpmn2.ecore.BPMNDI.BPMNDIPackage"
            genModel="model/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/spec/DI/1.0.0"
            class="org.eclipse.bpmn2.ecore.DI.DIPackage"
            genModel="model/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="di"
            class="org.eclipse.bpmn2.ecore.DI.util.DIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/spec/DD/1.0.0"
            class="org.eclipse.bpmn2.ecore.DD.DDPackage"
            genModel="model/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="dd"
            class="org.eclipse.bpmn2.ecore.DD.util.DDResourceFactoryImpl"/>
   </extension>

</plugin>
