<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010, Intalio Inc.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
  
 Contributors:
    Intalio Inc. - initial API and implementation
 

 $Id: plugin.xml,v 1.4 2010/05/07 23:38:49 atoulme Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/bpmn20"
            class="org.eclipse.mdt.bpmn.BpmnPackage"
            genModel="model/BPMN.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="bpmn"
            id="org.eclipse.mdt.bpmn.content-type"
            name="BPMN 2.0 Content type"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2"
               plugin="org.eclipse.emf.ecore.xmi">
            <parameter
                  name="element"
                  value="{http://schema.omg.org/spec/BPMN/2.0}*">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.eclipse.mdt.bpmn.util.BpmnResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.mdt.bpmn.content-type">
      </parser>
   </extension>

</plugin>
